* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bg {
	width: 100vw;
	position: fixed;
	height: 100vh;
	background: url('../images/img2.jpg');
	background-size: cover;
	overflow: scroll;
}
.tournaments {
	color: white;
	font-size: 1.4em;
	padding-top: 10vh;
	text-align: center;
}
table {
	/*background: red;*/
	/*display: block;*/
	position: relative;
	width: 70%;
	margin: 0 auto;
}
table,tr,td,th {
	/*border: 2px solid white;*/
	border-collapse: collapse;
	padding: 14px;
}
tr:nth-child(1) {
	border-bottom: 1px solid white;
}

td a {
	color:white;
}














/*Popup Css*/
.popup-background {
	top: 0;
	left: 0;
	width: 100vw;
	position: absolute;
	height: 100vh;
	background: rgba(0,0,0,.8);
}
.popup {
	padding: 25px;
	position:  fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*background: url('../images/popup-bg.jpg');*/
	background: #black;
	/*background-size: cover;*/
	color: white;
	font-weight: bolder;
}

.popup-heading {
	text-align: center;
	font-weight: bold;
}

.popup-menu {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

.alogin,.aregister {
	color: white;
	padding-top:5px;
	display:block;
	text-align:center;
	text-decoration: none;
}

.form-group {
	padding: 10px;
}

.form-group label{
	width: 50%;
	display: inline-block;
	float: left;
	clear: both;
}

.form-group input{
	width: 50%;
	background: none;
	border: none;
	padding: 2px;
	color:white;
	outline: none;
	border-bottom: 2px solid gray;
}
.form-group input:focus, .form-group input:hover {
	width: 50%;
	background: none;
	border: none;
	padding: 2px;
	color:white;
	outline: none;
	border-bottom: 2px solid white;
}

.btn-register,.btn-login {
	background: none;
	border : 1px solid white;
	padding: 12px;
	color: white;
	width: 100%;
	font-weight: bolder;
}
.btn-register:hover , .btn-login:hover {
	background: white;
	color: black;
	transition: all .8s;
	cursor: pointer;
}
.popup-exit {
	position: absolute;
	right: 10px;
	top: 0;
	cursor: pointer;
	font-family: Arial;
	font-size: 5em;
	color:white;
}
